
@{
    ViewBag.Title = "ResetPayPasswordTwo";
    Layout = "~/Views/Shared/_Navigater01.cshtml";
}
<link href="~/Content/css/cunGuan/getPsg.css" rel="stylesheet" />
<div class="layout">
            <div class="regNav">
                <a style="color:#999"> 首页</a><span> > </span><span class="regAccount">交易密码找回</span>
            </div>
        </div>
        <div class="layout stayBottom">
            <div class="regBox">
                <div class="regBoxTitle">
                    <ul class="regBoxUl">
                        <li><span><img src="~/Content/img/cunGuan/regPhoneActive.svg" /></span><span>填写账号信息</span><span class="regLine"></span></li>
                        <li><span><img src="~/Content/img/cunGuan/regPsd.svg" /></span><span>重置交易密码</span></li>
                    </ul>
                    <!-- <div class="goLoad_two">已有账号？<a href="/Account/Login">去登录</a></div> -->
                </div>
                <div class="regBoxLoad">
                    <div class="phoneBox">
                        <div class="phoneNum note">交易密码</div>
                        <input class="phoneInput" type="password" maxlength="6"  placeholder="请输入6位纯数字交易密码" id="txtCodeOne" onblur="verifyNoteNum()">
                        <img class="clearNum" src="~/Content/img/cunGuan/clear.svg" />
                        <!-- 错误提示 -->
		                    <div class="noteError noteErrorFirst">
		                        <img src="~/Content/img/cunGuan/error.svg"><span class="txtNote"></span>
		                    </div>
                    </div>
                    

                   <div class="phoneBox">
                        <div class="phoneNum note">确认密码</div>
                        <input class="phoneInput" type="password" maxlength="6" id="txtCode" placeholder="请再次输入" onblur="verifyAgainNum()">
                        <img class="clearNum" src="~/Content/img/cunGuan/clear.svg" />
                        <!-- 错误提示 -->
		                    <div class="noteError noteErrorTwo">
		                        <img src="~/Content/img/cunGuan/error.svg"><span class="againTxt"></span>
		                    </div>
                    </div>
                    
                    
                    <button id="btnNext" class="setOne setTwo btn-normal">下一步</button>
                </div>
                
            </div>
        </div>

<script>
$(document).ready(function(){
        
    $('.phoneInput').keyup(function(){
      if ($(this).val().length > 0) {
            if (navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE9.0") {
                $('.clearNum').css({ "display": "none" });
            } else {
                $(this).siblings('.clearNum').css({ "display": "block" });
            }
            
        } else {
            $(this).siblings('.clearNum').css({ "display": "none" });
        }
    })
   // 清空内容
    $('.clearNum').click(function(){
      $(this).siblings('.phoneInput').val('');
      $(this).css({"display":"none"})
    })
})


// 只能输入数字 
$('#txtCode').bind('input', function () {
	var InputVal = $(this).val();
  if (/\D/.test(InputVal)) {
		$(this).val(InputVal.substr(0, InputVal.length - 1));
	}
})
$('#txtCodeOne').bind('input', function () {
	var InputVal = $(this).val();
  if (/\D/.test(InputVal)) {
		$(this).val(InputVal.substr(0, InputVal.length - 1));
	}
})

		// 认证6位交易密码
    function verifyNoteNum () {
    	 var noteNum = $("#txtCodeOne").val().trim();
       if (noteNum.length == 0) {
           $("#txtCodeOne").addClass('errorBorder')
           $(".noteErrorFirst").css({ 'display': 'block' });
           $(".txtNote").html("交易密码不能为空");
           return false;
       }
       if (noteNum.length < 6) {
           $("#txtCodeOne").addClass('errorBorder')
           $(".noteErrorFirst").css({ 'display': 'block' });
           $(".txtNote").html("交易密码少于6位");
           return false;
       }
       $("#txtCodeOne").removeClass('errorBorder')
       $(".noteErrorFirst").css({ 'display': 'none' });
       $(".txtNote").html("");
       return true;
    }
    // 再次确认密码
    function verifyAgainNum () {
    	 var noteNum = $("#txtCode").val().trim();
       if (noteNum.length == 0) {
           $("#txtCode").addClass('errorBorder')
           $(".noteErrorTwo").css({ 'display': 'block' });
           $(".againTxt").html("交易密码不能为空");
           return false;
       }
       if (noteNum.length < 6) {
           $("#txtCode").addClass('errorBorder')
           $(".noteErrorTwo").css({ 'display': 'block' });
           $(".againTxt").html("交易密码少于6位");
           return false;
       }
       if(noteNum.length == 6){
       	 if($("#txtCode").val() != $('#txtCodeOne').val()){
       	 	 $("#txtCode").addClass('errorBorder')
           $(".noteErrorTwo").css({ 'display': 'block' });
           $(".againTxt").html("交易密码不一致");
           return false;
       	 }
       }
       $("#txtCode").removeClass('errorBorder')
       $(".noteErrorTwo").css({ 'display': 'none' });
       $(".againTxt").html("");
       return true;
    }

    $('#btnNext').click(function () {
        if (verifyNoteNum() && verifyAgainNum()) {
            var pwd = $('#txtCodeOne').val().trim();
            $.post("/Account/SubmitResetPayPassword", { paypassword: pwd }, function (data) {
                if (data.RespCode == "000") {
                    alert(data.RespDesc);
                    window.location.href = data.ExtraData;
                } else {
                    alert(data.RespDesc);
                }
            });
        }
    });
// 底部导航居底
if ($(window).height() < 598) {
    $(".stayBottom").css({ "marginBottom": 30 + "px" });
} else {
    $(".stayBottom").css({ "marginBottom": $(window).height() - 601 + "px" });
}
</script>