
@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Navigater01.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/commom.css" rel="stylesheet" />
    <link href="../../Content/css/register.css" rel="stylesheet" />
    <script src="~/Scripts/js/jquery-1.12.2.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/tongdun.js"></script>

</head>
<body>

    @*<div style="width:100%;height:100%;padding-bottom:158px">
        <section class="layout">
            <article class="regNav">
                <a href="/Home" style="color:#999"> 首页</a><span> > </span><span class="regAccount">账户注册</span>
            </article>
        </section>
        <section class="layout">
            <article class="regBox">
                <section class="regBoxTitle">
                    <ul class="regBoxUl">
                        <li><span class="regWidth"><span class="regPhone"><img src="../../Content/img/register/regPhone.png" /></span><span>验证手机</span></span><span class="regLine"></span></li>
                        <li><span class="regWidth"><span class="regPsd"><img src="../../Content/img/register/regPsdActive.png" /></span><span>设置密码</span></span><span class="regLine"></span></li>
                        <li><span><span class="regSuccess"><img src="../../Content/img/register/regSuccess.png" /></span><span>修改成功</span></span></li>
                    </ul>

                </section>
                <div class="regBoxLoad">
                    <section class="phoneBox">
                        <article class="phoneNum setTwoPhone">通过手机</article>
                        <span class="telNum">@(ViewBag.Mobile.Substring(0, 3) + "****" + ViewBag.Mobile.Substring(7, 4))</span>
                        <button class="getPasNum" type="button" id="btnSendCode">获取验证码</button>
                    </section>
                    <section class="phoneBox">
                        <article class="phoneNum note">短信验证码</article>
                        <input class="phoneInput" type="text" onfocus="this.placeholder = ''; $('.dengJiOne:eq(1)').hide();" onkeyup="    CheckValue()" onblur="    ValidateCode()" maxlength="6" id="txtCode" placeholder="请输入验证码">
                    </section>

                    <section class="phoneBox">
                        <article class="phoneNum setTwoPsd">设置密码</article>
                        <input type="password" class="password" id="pwd1" onfocus="this.placeholder = ''" onkeyup="CheckValue()" onblur="ValidatePwd1()" placeholder="请设置您的密码">
                        <span class="psdChange"><img src="../../Content/img/register/eye.png" /></span>
                    </section>

                    <section class="phoneBox">
                        <article class="phoneNum setTwoPsd">二次验证</article>
                        <input type="password" class="password" id="pwd2" onkeyup="CheckValue()" onfocus="this.placeholder = ''" onblur="ValidatePwd2()" placeholder="请再次输入您的密码">
                        <span class="psdChange"><img src="../../Content/img/register/eye.png" /></span>
                    </section>
                    <section class="dengJi">
                        <article class="dengJiOne code" style="display:none;color:#EA1616;">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>手机验证码不能为空</span>
                        </article>
                        <article class="dengJiOne code" style="display:none;color:#EA1616;">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>手机验证码错误</span>
                        </article>
                    </section>
                    <section class="dengJi" style="margin-top:50px">
                        <article class="dengJiOne" style="display:none">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>弱，可以尝试字母、数字混搭。</span>
                            <ul class="djOneCol">
                                <li class="oneDj"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </article>
                        <article class="dengJiOne" style="display:none">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>不错，可以尝试字母、数字混搭。</span>
                            <ul class="djOneCol">
                                <li class="twoDj"></li>
                                <li class="twoDj"></li>
                                <li></li>
                            </ul>
                        </article>
                        <article class="dengJiOne" style="display:none">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>真棒！要记住密码噢。</span>
                            <ul class="djOneCol threeDj">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </article>
                        <article class="dengJiOne">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>6-20个字符，区分大小写</span>
                        </article>
                        <article class="dengJiOne" style="display:none;color:#EA1616">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>密码不得少于6位</span>
                        </article>
                        <article class="dengJiOne" style="display:none;color:#EA1616">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>密码不得多于20位</span>
                        </article>

                    </section>
                    <section class="dengJi" style="margin-top:100px">
                        <article class="dengJiOne new" style="display:none;color:#EA1616;">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>确认密码不能为空</span>
                        </article>
                        <article class="dengJiOne new" style="display:none;color:#EA1616;">
                            <img class="dengjiImg" src="../../Content/img/register/dengji.png" /><span>两次输入不一致</span>
                        </article>
                    </section>

                    <a href="javascript:void(0)" id="btnNext" style="background-color:#eee" class="setOne setTwo">下一步</a>

                </div>
            </article>
        </section>

    </div>*@

    <div style="width:100%;height:100%;padding-bottom:158px">
        <section class="layout">
            <article class="regNav">
                <a href="/Home" style="color:#999"> 首页</a><span> > </span><span class="regAccount">密码找回</span>
            </article>
        </section>
        <section class="layout">
            <article class="regBox">
                <section class="regBoxTitle">
                    <ul class="regBoxUl">
                        <li><span class="regWidth"><i class="of of-step1"></i><span>验证手机</span></span><span class="regLine"></span></li>
                        <li><span class="regWidth"><span class="regPsd"><img src="../../Content/img/register/regPsd.svg" /></span><span>设置密码</span></span><span class="regLine"></span></li>
                        <li><span><i class="of of-correct"></i><span>修改成功</span></span></li>
                    </ul>

                </section>
                <div class="regBoxLoad">
                    <section class="phoneBox">
                        <article class="phoneNum setTwoPhone">通过手机</article>
                        <span class="telNum">@(ViewBag.Mobile.Substring(0, 3) + "****" + ViewBag.Mobile.Substring(7, 4))</span>
                        <button class="getPasNum" type="button" style="font-size:14px" id="btnSendCode">获取验证码</button>
                    </section>
                    @*<article class="againGet"><span>59</span>秒后重发</article>*@
                    <section class="phoneBox">
                        <article class="phoneNum note">短信验证码</article>
                        <input class="phoneInput" type="text" onfocus="this.placeholder = '';  $('.dengJiOne:eq(1)').hide();" onblur="ValidateCode()" maxlength="6" id="txtCode" placeholder="请输入验证码">
                        <span class="noteMsg imgClear"><img class="clearNum" src="../../Content/img/register/clear.svg" /></span>
                    </section>

                    <section class="phoneBox">
                        <article class="phoneNum setTwoPsd">设置密码</article>
                        <input type="password" class="password" onfocus="this.placeholder = ''" id="pwd1" onblur="ValidatePwd1()" placeholder="请设置您的密码">
                        <span class="psdChange imgClear"><img src="~/Content/img/register/clear.svg" /> </span>
                    </section>

                    <section class="phoneBox">
                        <article class="phoneNum setTwoPsd">二次验证</article>
                        <input type="password" class="password" id="pwd2" onfocus="this.placeholder = ''" onkeyup="ValidateImg()" onblur="ValidatePwd2()" placeholder="请再次输入您的密码">
                        <span class="psdChange imgClear"><img src="~/Content/img/register/clear.svg" /> </span>
                    </section>
                    <section class="dengJi">
                        <article class="dengJiOne code" style="display:none;color:#EA1616;">
                            <i class="of of-error"></i><span>手机验证码不能为空</span>
                        </article>
                        <article class="dengJiOne code" style="display:none;color:#EA1616;">
                            <i class="of of-error"></i><span>手机验证码错误</span>
                        </article>
                    </section>
                    <section class="dengJi" style="margin-top:50px">
                        <article class="dengJiOne" style="display:none">
                            <i class="of of-error" style="color:#EA1616;"></i><span>弱，可以尝试字母、数字混搭。</span>
                            <ul class="djOneCol">
                                <li class="oneDj"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </article>
                        <article class="dengJiOne" style="display:none">
                            <i class="of of-error" style="color:#e9a300;"></i><span>不错，可以尝试字母、数字混搭。</span>
                            <ul class="djOneCol">
                                <li class="twoDj"></li>
                                <li class="twoDj"></li>
                                <li></li>
                            </ul>
                        </article>
                        <article class="dengJiOne" style="display:none">
                            <i class="of of-correct" style="color:#33b972;"></i><span>真棒！要记住密码噢。</span>
                            <ul class="djOneCol threeDj">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </article>
                        <article class="dengJiOne">
                            <i class="of of-error"></i><span>6-20个字符，区分大小写</span>
                        </article>
                        <article class="dengJiOne" style="display:none;color:#EA1616">
                            <i class="of of-error"></i><span>密码不得少于6位</span>
                        </article>
                        <article class="dengJiOne" style="display:none;color:#EA1616">
                            <i class="of of-error"></i><span>密码不得多于20位</span>
                        </article>

                    </section>
                    <section class="dengJi" style="margin-top:100px">
                        <article class="dengJiOne new" style="display:none;color:#EA1616;">
                            @*<img class="dengjiImg" src="../../Content/img/register/dengji.png" />*@ <i class="of of-error"></i><span>确认密码不能为空</span>
                        </article>
                        <article class="dengJiOne new" style="display:none;color:#EA1616;">
                            <i class="of of-error"></i><span>两次输入不一致</span>
                        </article>
                    </section>

                    <button id="btnNext" class="setOne setTwo btn-normal">下一步</button>
                    <section class="twoSpit">
                        <p>温馨提示：请保持手机畅通以便于接收短信验证码。</p>
                        <p>若您无法收到短信，请联系客服<a href="#"> 400-008-7077</a></p>
                    </section>
                </div>

            </article>
        </section>

    </div>



</body>
</html>



<script type="text/javascript">
    $(document).ready(function () {

        $("#btnSendCode").click(function () {
            if (timeNumber <= 0)
                SendCode();
            else
                return false;
        });

        $(".imgClear").click(function () {
            $(this).parent().children("input").val("");
            $(this).children().hide();
            if ($(this).parent().index() == 2) {
                $(".dengJiOne:lt(8):gt(1)").hide();
                $(".dengJiOne:eq(6)").show();
            }
        });

        $("#pwd1").keyup(function () {
            var txtpwd1 = $("#pwd1").val().replace(/[ ]/g, "");
            ValidateImg();
            if (txtpwd1.length < 6 || txtpwd1.length > 20) {
                ValidatePwd1();
            }
            else {
                SafetyLevel(txtpwd1);
            }
        });

        $("#btnNext").click(function () {
                SubmitResetPwd();
        });

    });

    function ValidateImg() {
        $(".password").each(function () {
            if ($(this).val().length == 0) {
                $(this).next().children().hide();
            }
            else {
                $(this).next().children().show();
            }
        })
    }

    function CheckValue()
    {
        var txtcode = $("#txtCode").val().trim();
        var txtpwd1 = $("#pwd1").val().replace(/[ ]/g, "");
        var txtpwd2 = $("#pwd2").val().replace(/[ ]/g, "");
        if (txtcode.length > 0 && txtpwd1.length > 0 && txtpwd2.length > 0) {
            $("#btnNext").css("background-color", "#f36200");
            return true;
        }
        else {
            $("#btnNext").css("background-color", "#eee");
            return false;
        }

    }

    function SafetyLevel(password)  //1:低等  2、3：中等 4：高等
    {
        var securityLevelFlag = 0;
        var securityLevelFlagArray = new Array(0, 0, 0, 0);
        for (var i = 0; i < password.length; i++) {
            var asciiNumber = password.substr(i, 1).charCodeAt();
            if (asciiNumber >= 48 && asciiNumber <= 57) {
                securityLevelFlagArray[0] = 1;  //digital
            }
            else if (asciiNumber >= 97 && asciiNumber <= 122) {
                securityLevelFlagArray[1] = 1;  //lowercase
            }
            else if (asciiNumber >= 65 && asciiNumber <= 90) {
                securityLevelFlagArray[2] = 1;  //uppercase
            }
            else {
                securityLevelFlagArray[3] = 1;  //specialcase
            }
        }

        for (var i = 0; i < securityLevelFlagArray.length; i++) {
            if (securityLevelFlagArray[i] == 1) {
                securityLevelFlag++;
            }
        }
        $(".dengJiOne:lt(8):gt(1)").hide();
        switch (securityLevelFlag) {
            case 1:
                $(".dengJiOne:eq(2)").show();
                break;
            case 2:case 3:
                $(".dengJiOne:eq(3)").show();
                break;
            case 4:
                $(".dengJiOne:eq(4)").show();
                break;
            default:
                break;

        }

    }

    function ValidateCode() {
        var code = $("#txtCode").val().trim();
        $(".dengJiOne:lt(1)").hide();
        if (code.length == 0) {
            $(".dengJiOne:eq(0)").show();
            return false;
        }
        if (code.length > 0 && code.length < 6) {
            $(".dengJiOne:eq(1)").show();
            return false;
        }
        return true;
    }



    function ValidatePwd1() {
        var pwd1 = $("#pwd1").val().replace(/[ ]/g, "");
        $(".dengJiOne:lt(8):gt(1)").hide();
        if (pwd1.length < 6) {
            $(".dengJiOne:eq(6)").show();
            return false;
        }
        if (pwd1.length > 20) {
            $(".dengJiOne:eq(7)").show();
            return false;
        }
        SafetyLevel(pwd1);
        return true;
    }

    function ValidatePwd2() {
        var pwd2 = $("#pwd2").val().replace(/[ ]/g, "");
        var pwd1 = $("#pwd1").val().replace(/[ ]/g, "");
        if (pwd2.length == 0) {
            $(".new").hide();
            $(".new:eq(0)").show();
            return false;
        }
        if (pwd2 != pwd1) {
            $(".new").hide();
            $(".new:eq(1)").show();
            return false;
        }
        $(".new").hide();
        return true;
    }

    var timeNumber = 0;
    //发送验证码
    function SendCode() {
        timeNumber = 60;
        SetTime();
        $.ajax({
            type: "post",
            url: "/Home/SendCode?mobile=@ViewBag.Mobile" + "&codeType=2&tokenId=" + tokenId,
            async: false,
            success: function (data) {
                return;
            }
        });
    }

    function SetTime() {
        var innter = setInterval(function () {
            timeNumber--;
            flag = false;
            $("#btnSendCode").css("background-color", "#e4e4e4");
            $("#btnSendCode").text(timeNumber + "秒后重发");

            if (timeNumber < 1) {
                flag = true;
                $("#btnSendCode").css("background-color", "#ffffff");
                $("#btnSendCode").text("重新获取");
                clearInterval(innter)
            }
        }, 1000)
    }

    function SubmitResetPwd() {
        var mobile = "@ViewBag.Mobile";
        var code = $("#txtCode").val().trim();
        var password = $("#pwd1").val().replace(/[ ]/g, "");
        if (ValidateCode() == true && ValidatePwd1() == true && ValidatePwd2() == true) {
            $.post("/Account/SubmitResetPwd", { mobile: mobile, code: code, password: password }, function (data) {
                //999：验证码错误 111：手机号未注册  000：成功
                if (data.RespCode == "999") {
                    $(".dengJiOne:eq(1)").show();
                    return false;
                }
                if (data.RespCode == "111") {
                    window.location.href = "/Result";
                }
                else {
                    window.location.href = "/Account/ResetPwdSuccess";
                }

            });
        }

    }

    $(".phoneInput").keyup(function () {
        if ($(this).val().length > 0) {
            $(".clearNum").css({ "display": "block" });
        }
    })

</script>



